<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ATM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DAOOperations</display-name>
    <servlet-name>DAOOperations</servlet-name>
    <servlet-class>com.atm.dao.DAOOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOOperations</servlet-name>
    <url-pattern>/DAOOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.atm.servlet.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.atm.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>PinValidation</servlet-name>
    <servlet-class>com.atm.login.PinValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinValidation</servlet-name>
    <url-pattern>/PinValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPin</display-name>
    <servlet-name>checkPin</servlet-name>
    <servlet-class>com.atm.servlet.checkPin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPin</servlet-name>
    <url-pattern>/checkPin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumber</display-name>
    <servlet-name>PhoneNumber</servlet-name>
    <servlet-class>com.atm.servlet.PhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumber</servlet-name>
    <url-pattern>/PhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTP</display-name>
    <servlet-name>OTP</servlet-name>
    <servlet-class>com.atm.servlet.OTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTP</servlet-name>
    <url-pattern>/OTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>INBOX</display-name>
    <servlet-name>INBOX</servlet-name>
    <servlet-class>com.atm.servlet.INBOX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>INBOX</servlet-name>
    <url-pattern>/INBOX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Number</display-name>
    <servlet-name>Number</servlet-name>
    <servlet-class>com.atm.servlet.Number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Number</servlet-name>
    <url-pattern>/Number</url-pattern>
  </servlet-mapping>
</web-app>